html {
  font-size: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: .16rem;
}

li {
  list-style: none;
}