/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';
  /* Project id 3570921 */
  src: url('//at.alicdn.com/t/c/font_3570921_tf688479fm.eot?t=1661607285071');
  /* IE9 */
  src: url('//at.alicdn.com/t/c/font_3570921_tf688479fm.eot?t=1661607285071#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/c/font_3570921_tf688479fm.woff2?t=1661607285071') format('woff2'),
    url('//at.alicdn.com/t/c/font_3570921_tf688479fm.woff?t=1661607285071') format('woff'),
    url('//at.alicdn.com/t/c/font_3570921_tf688479fm.ttf?t=1661607285071') format('truetype'),
    url('//at.alicdn.com/t/c/font_3570921_tf688479fm.svg?t=1661607285071#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}