$content-fontcolor: #333;
$content-login-inputcolor: rgba(0, 0, 0, 0.50);
$search-inputbgColor: #F5F5F5;
$content-fontcolor666: #666;
$content-bgC: #0091FF;
$search-fontcolor: #E93B3B;
$search-color: #F1F1F1